body{ 
    background-color: rgb(167, 39, 103);
    color: rgb(255, 229, 204);
    font-family: "Faculty Glyphic", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: rgb(29, 100, 59);
    color: rgb(255, 229, 204);
    font-family: "Courgette", serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;

}

img {
    max-width: 85%;
}